<%- include('partials/header') %>
<body id="home">
   
  <i class="fa-solid fa-scissors" style="color: black;"></i><h3>LinkTrim</h3>
  <div>
  
  <img src="/images/www-cuate.svg">
  </div>
  <div class="middle">
  <h1>Lets start..Doodling.</h1>
  <p>Transform long links into bite-sized brilliance.</p>
  <button class="btn btn-outline-secondary"><a href="/auth/google">Sign in with Google.</a></button>
  </div>
 
</body>

   

    <%- include('partials/footer') %>